@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */
@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@layer utilities {
  .bg-theme {
    @apply bg-slate-100 dark:bg-slate-950;
  }

  .bg-theme-reverse {
    @apply bg-slate-950 dark:bg-slate-100;
  }

  /* ===== UTILITIES */
  .sidebar {
    @apply remove-scrollbar bg-black-800 w-full max-w-72 flex-col overflow-auto px-7 py-10;
  }

  .left-sidebar {
    @apply hidden lg:flex;
  }

  .right-sidebar {
    @apply hidden xl:flex;
  }

  .clip-text {
    @apply bg-clip-text text-transparent;
  }

  .bg-image {
    @apply bg-black-900 bg-light-rays bg-cover bg-no-repeat;
  }

  .header {
    @apply text-32-bold md:text-36-bold;
  }

  .sub-header {
    @apply text-24-bold md:text-32-bold text-slate-800 dark:text-slate-300;
  }

  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }

  .sub-container {
    @apply mx-auto flex size-full flex-col justify-between py-10;
  }

  .side-img {
    @apply hidden h-screen object-cover md:block;
  }

  .copyright {
    @apply text-14-regular justify-items-end text-center text-dark-600 xl:text-left;
  }

  .navbar {
    @apply sticky top-0 z-40 mx-auto bg-slate-200 p-4 shadow-2xl shadow-slate-900/60 dark:bg-slate-950 dark:shadow-slate-300/30 md:pl-10 md:pr-20 lg:relative lg:bg-slate-100 lg:dark:bg-slate-950 xl:mt-4 xl:rounded-2xl xl:pr-10;
  }

  /* ==== SUCCESS */
  .success-img {
    @apply m-auto flex flex-1 flex-col items-center justify-between gap-6 py-8;
  }

  .request-details {
    @apply flex w-full flex-col items-center gap-8 border-y-2 border-dark-700 py-8 dark:border-dark-500 md:w-fit md:flex-row;
  }

  /* ===== ADMIN */
  .admin-header {
    @apply sticky top-0 z-40 bg-slate-300 p-5 dark:bg-dark-300 md:relative md:m-10 md:rounded-2xl md:px-12;
  }

  .admin-main {
    @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
  }

  .admin-stat {
    @apply flex w-full flex-col justify-between gap-5 md:flex-row xl:gap-10;
  }

  /* ==== FORM */
  .radio-group {
    @apply flex h-full flex-1 items-center gap-2 rounded-md border border-dashed border-dark-700 bg-white p-3 dark:border-dark-500 dark:bg-dark-400;
  }

  .checkbox-label {
    @apply cursor-pointer text-sm font-medium text-dark-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-dark-700 md:leading-none;
  }

  /* ==== File Upload */
  .file-upload {
    @apply text-12-regular flex cursor-pointer flex-col items-center justify-center gap-3 rounded-md border border-dashed border-dark-700 bg-white p-5 dark:border-dark-500 dark:bg-dark-400;
  }

  .file-upload_label {
    @apply flex flex-col justify-center gap-2 text-center text-dark-600;
  }

  /* ==== Stat Card */
  .stat-card {
    @apply bg-theme flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-2xl shadow-black/50 transition-all ease-in-out hover:-translate-x-1 hover:-translate-y-2 hover:shadow-xl hover:shadow-black dark:shadow-slate-200/20 hover:dark:shadow-slate-400;
  }

  /* ==== Status Badge */
  .status-badge {
    @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
  }

  /* Data Table */
  .data-table {
    @apply z-10 w-full overflow-hidden rounded-lg border border-dark-700 shadow-2xl shadow-black dark:border-dark-400 dark:shadow-xl dark:shadow-slate-800;
  }

  .table-actions {
    @apply flex w-full items-center justify-between space-x-2 p-4;
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  /* ===== TYPOGRAPHY */
  .text-36-bold {
    @apply text-[36px] font-bold leading-[40px];
  }

  .text-24-bold {
    @apply text-[24px] font-bold leading-[28px];
  }

  .text-32-bold {
    @apply text-[32px] font-bold leading-[36px];
  }

  .text-18-bold {
    @apply text-[18px] font-bold leading-[24px];
  }

  .text-16-semibold {
    @apply text-[16px] font-semibold leading-[20px];
  }

  .text-16-regular {
    @apply text-[16px] font-normal leading-[20px];
  }

  .text-14-medium {
    @apply text-[14px] font-medium leading-[18px];
  }

  .text-14-regular {
    @apply text-[14px] font-normal leading-[18px];
  }

  .text-12-regular {
    @apply text-[12px] font-normal leading-[16px];
  }

  .text-12-semibold {
    @apply text-[12px] font-semibold leading-[16px];
  }

  .text-theme {
    @apply text-slate-900 dark:text-slate-100;
  }

  /* =====  SHADCN OVERRIDES */
  .shad-primary-btn {
    @apply my-3 bg-green-500 text-white hover:opacity-75 md:my-5 !important;
  }

  .shad-danger-btn {
    @apply bg-red-700 text-white !important;
  }

  .shad-gray-btn {
    @apply cursor-pointer border border-dark-500 bg-dark-400 text-white !important;
  }

  .shad-input-label {
    @apply text-14-medium text-dark-600 dark:text-dark-700 !important;
  }

  .shad-input {
    @apply h-11 bg-white placeholder:text-dark-700 focus-visible:ring-0 focus-visible:ring-offset-0 dark:border-dark-500 dark:bg-dark-400 dark:placeholder:text-dark-600 !important;
  }

  .shad-input-icon {
    @apply h-11 focus-visible:ring-0 focus-visible:ring-offset-0 dark:border-dark-500 dark:bg-dark-400 dark:placeholder:text-dark-600 !important;
  }

  .shad-textArea {
    @apply border-dark-700 bg-white focus-visible:ring-0 focus-visible:ring-offset-0 dark:border-dark-500 dark:bg-dark-400 dark:placeholder:text-dark-600 !important;
  }

  .shad-combobox-item {
    @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50 !important;
  }

  .shad-combobox-trigger {
    @apply h-11 !important;
  }

  .shad-select-trigger {
    @apply h-11 border-dark-700 bg-white placeholder:text-dark-600 focus:ring-0 focus:ring-offset-0 dark:border-dark-500 dark:bg-dark-400 dark:placeholder:text-dark-600 !important;
  }

  .shad-select-content {
    @apply border-dark-700 bg-white dark:border-dark-500 dark:bg-dark-400 !important;
  }

  .shad-dialog {
    @apply bg-slate-200 dark:border-dark-500 dark:bg-dark-400 !important;
  }

  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .shad-error {
    @apply text-red-400 !important;
  }

  .shad-table {
    @apply overflow-hidden rounded-t-lg !important;
  }

  .shad-table-row-header {
    @apply border-b text-white hover:bg-transparent dark:bg-dark-400 dark:text-light-200 !important;
  }

  .shad-table-row {
    @apply border-b bg-slate-300 font-bold text-dark-400 dark:bg-dark-400 dark:text-light-200 !important;
  }

  .shad-otp {
    @apply flex w-full justify-center gap-0.5 md:justify-between md:gap-0 !important;
  }

  .shad-otp-slot {
    @apply text-36-bold flex size-12 justify-center gap-4 rounded-lg border border-dark-500 md:size-16 !important;
  }

  .shad-alert-dialog {
    @apply space-y-5 border-dark-500 bg-slate-200 outline-none dark:border-dark-600 dark:bg-dark-400 !important;
  }

  .shad-sheet-content button {
    @apply top-2 focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
  .input-phone {
    @apply mt-2 h-11 rounded-md border border-dark-700 bg-white px-3 text-sm dark:border-dark-500 dark:bg-dark-400 !important;
  }

  /* =====  REACT DATE PICKER OVERRIDES */
  .date-picker {
    @apply text-14-medium h-11 w-full overflow-hidden rounded-md border-transparent bg-white px-3 outline-none placeholder:text-dark-600 dark:bg-dark-400 !important;
  }
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  @apply bg-white dark:bg-dark-400 !important;
  @apply border-dark-700 dark:border-dark-500 !important;
  @apply text-black dark:text-white !important;
}

.react-datepicker__day {
  @apply font-light !important;
  @apply hover:bg-slate-300 hover:text-white hover:dark:text-slate-900 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  @apply text-black dark:text-slate-300 !important;
}

.react-datepicker__time-list-item {
  @apply hover:bg-slate-300 hover:dark:bg-white !important;
  @apply hover:text-white dark:hover:text-dark-400 !important;
}

.react-datepicker__input-container input {
  @apply bg-white dark:bg-dark-400 !important;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  @apply bg-green-500 dark:bg-green-400 !important;
  @apply font-bold text-white hover:text-white dark:hover:text-white !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  @apply border-l-[1px] border-dark-700 dark:border-dark-500 !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

.react-datepicker__day--today {
  @apply font-bold !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
}
